[Dataset]
data_dir=data/recsys_data
dataset=ml-1m
min_user_per_item=5
min_item_per_user=15

# leave-k-out
leave_k=5
popularity_order=true

[Evaluator]
;ks=[10, 20, 50, 100]
ks=[1, 5, 10, 20]
# ks=[1, 5, 10]

[EarlyStop]
;10, 15, 25
;20 bc
early_stop=5
early_stop_measure=mean

[Experiment]

num_epochs=10
;num_epochs=1
verbose=0
print_step=1
test_step=1
test_from=0

model_name=
;seed=2023
gpu=0
node_id=0
num_nodes=2
device_id=[0, 1]
