[Model]
dropout=0
emb_dim=100
neg_sample_rate=2
neg_sample_rate_eval=2
reg=1e-5

batch_size=1024
test_batch_size=1024

;ml1m
lr=0.001

;ml-1m, 20, 5, 10 -> (30, 10, 15)
;1=a,2=b

;beta1=1
;beta2=3
;tau=0.04

;;yelp
beta1=1
beta2=2
tau=0.0032
;50

;;cds
;beta1=1
;beta2=2
;tau=0.001
;40

;;kuai
;beta1=1
;beta2=2
;tau=0.07

;1,2,5,7,10
neg_sample_num=5

display_step=1
iters=40