[Model]
dropout=0
emb_dim=100
neg_sample_rate=2
neg_sample_rate_eval=2
reg=1e-5

batch_size=1024
test_batch_size=1024

;ml1m
lr=0.001

;ml-1m, 20, 5, 10 -> (30, 10, 15)
beta1=1
beta2=1
lambda=0.8

;;yelp
;beta1=90
;beta2=50
;;check 145(40, 15)

;;cds
;beta1=90
;beta2=60

neg_sample_num=5

display_step=1
iters=5