[Model]
note=normal_no_neg_-1_1

dropout=0
neg_sample_rate=2
;lr_decay_rate=0.76
;lr_decay_epoch=20

lr_decay_rate=0.6
lr_decay_epoch=20
structure=0@2000
# threshold=1e-3
# epoch_start=20
# structure=0@1000

;reg=1e-3, weight decay need to be large
reg=1e-5

;512, 256
batch_size=256
test_batch_size=1024

lr=0.001