[Model]
note=normal_one_layer_binary_old

dropout=0
neg_sample_rate=2
;lr_decay_rate=0.76
;lr_decay_epoch=20

lr_decay_rate=0.6
lr_decay_epoch=20
# structure=0@6000@1000
structure=0@1000
# threshold=1e-3
# epoch_start=20
# structure=0@1000

;reg=1e-3, weight decay need to be large
reg=1e-15

;512, 256
batch_size=512
test_batch_size=1024

lr=0.0001

use_not=True
use_skip=False
use_nlaf=True
estimated_grad=True

alpha=0.999
beta=8
gamma=3
temperature=0.01

use_gsam=True
gsam_rho=0.1
gsam_alpha=0.5

use_learnable_gate=True
use_input_skip=True

penalty_weight=0

use_swa=False
swa_start=20

denoise_rate=0
