[Model]

;enc_dims=[200]
enc_dims = [100]
# enc_dims=[600, 200]
;dropout=0.2
dropout=0
anneal_cap=0.2
total_anneal_steps=200000
reg=1e-3

;dropout=0
;emb_dim=100
;neg_sample_rate=2
neg_sample_rate_eval=2
;reg=1e-5

batch_size=1024
test_batch_size=1024

;ml1m
lr=0.001

;ml-1m, 20, 5, 10 -> (30, 10, 15)
;1=a,2=b

;beta1: 1
;beta2: 3
;tau: 0.015

;;yelp
;beta1=90
;beta2=50
;;check 145(40, 15)
;beta1=1
;beta2=2
;tau=0.0015

;beta1=1
;beta2=1
;tau=0.1

;;cds
;beta1=90
;beta2=60
beta1=1
beta2=3
tau=3

neg_sample_num=5

display_step=1
iters=10